body {
  background-color:grey;
}
h1 {
  color: white;
  text-align: left;
}
.container {
  display: grid;
  gid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: grey;
  color: #444;
}
a {
  color: white;
}

.box {
  background-color: #5f9ea0;
  color: white;
  border-raidus: 40px;
  padding: 20px;
  font-size: 150%;
  text-shadow: 2px 2px grey;
}

.a{
  grid-column: 1 / span 3;
  text-align: left;
}
.b {
  grid-column: 1 / span 3;
  text-align: left;
}

ul {
  color: white;
  text-align: left;
}
